<h3><%= @place.name %></h3>

<%= @place.image %>

<p><strong>Region</strong><%= @place.region %></p>

<%= link_to "Edit", edit_place_path(@place)%>
<%= link_to "Destroy", place_path(@place), method: :delete, data: { confirm: "Are you sure?"} %>

<p><%= link_to 'Fancy adding a Ballad?', new_place_path %></p>
