<div class="container-fluid">
	<h4><%= @place.name %></h4>
	<div class="imgshow">
		<%= image_tag @place.image, :class => "showimg" %>
	</div>
	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<td><strong>Region</strong></td>
					<td><%= @place.region %></td>
				</tr>
			</tbody>
		</table>
		<h4>Songs about <%= @place.name %></h4>
		<p><%= render @songs %></p>
		<br>
		<h4>Poems about <%= @place.name %></h4>
		<p><%= render @poems %></p>
	</div>
	<div>
		<h2>Comments</h2>
		<% @comments.each do |comment| %>
		<div class="comment">
			<p>UserEmail<%= comment.user.email %></p>
			<p>Content<%= comment.content %></p> 
		</div>
		<% end %>	
	</div>
	<p><% if @place.end_user == current_end_user %></p>
	<p><strong><%= link_to 'Edit', edit_place_path %></strong></p>
	<p><strong><%= link_to "Delete", place_path(@place), method: :delete, data: { confirm: "Are you sure?"} %></strong></p>
	<% else %>
	<p><strong><%= link_to 'Sign in to add new ballads', new_end_user_session_path %></strong></p>
	<% end %>
</div>