<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			<title>TheBalladTrail</title>
			<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		
		<!-- Add styles to map -->
		<style type="text/css">
			html, body, #map-canvas { position: relative; width: 100%; height: 100%; margin: 0; padding: 0;}
		</style>
		
		<!-- Connects to Google Javascript API -->
		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz0j_R1FllX2cnZ_lJIsgZJtMitbI6vOY">
		</script>
		
		<!-- Initializes map and creates map object and markers -->
		<script type="text/javascript">
			function initialize() {
			
				// Sets up coordinates (latitude, longitude) for markers
				var myLatlng1 = new google.maps.LatLng(<%= latitude(1) %>, <%= longitude(1)%>)
				var myLatlng2 = new google.maps.LatLng(<%= latitude(2) %>, <%= longitude(2) %>)
				var myLatlng3 = new google.maps.LatLng(<%= latitude(3) %>, <%= longitude(3) %>)
				var myLatlng4 = new google.maps.LatLng(<%= latitude(4) %>, <%= longitude(4) %>)
				
				// Centers marker over Aberdeen and sets zoom level to 10
				var mapOptions = {
					center: { lat: 57.331380, lng: -2.320982},
					zoom: 10
				};
				
				// Sets up map
				var map = new google.maps.Map(document.getElementById('map-canvas'),
				mapOptions);
				
				// Markers to be displayed
				// Markers contain coordinates set in myLatlng variables, and make a method call to application_helper to display a name from the model Place
				var marker1 = new google.maps.Marker({
					position: myLatlng1,
					map: map,
					title: "<%= name(1) %>"
				});
				
				var marker2 = new google.maps.Marker({
					position: myLatlng2,
					map: map,
					title: "<%= name(2) %>"
				});
				
				var marker3 = new google.maps.Marker({
					position: myLatlng3,
					map: map,
					title: "<%= name(3) %>"
				});
				
				var marker4 = new google.maps.Marker({
					position: myLatlng4,
					map: map,
					title: "<%= name(4) %>"
				});
			}
			
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</head>
	<body>
		<script type='text/javascript'>
			(function()
				{
					if( window.localStorage )
				{
					if( !localStorage.getItem( 'firstLoad' ) )
				{
					localStorage[ 'firstLoad' ] = true;
					window.location=window.location;
				}
					else
					localStorage.removeItem( 'firstLoad' );
				}
			})();
		</script>
		
		<div class="header">
			<%= link_to image_tag("logo.png", :style => 'margin-top: 15px;'), home_path %>
		<div class="userName">
			<% if end_user_signed_in? %>
				Logged in as <strong><%= current_end_user.email %></strong>
			<% end %>
			
			<% if admin_signed_in? %>
				Logged in as <strong>Administrator</strong>
			<% end %>
		</div>

		<!-- Links to like on social media -->
		<div class="share-buttons">
			<li><%= link_to image_tag("facebook.png", :style => ''), "http://www.facebook.com/" %></li>
			<li><%= link_to image_tag("twitter.png", :style => ''), "https://twitter.com" %> </li>
		</div>
		
		</div>
			<nav class="navbar navbar-default" style="margin-bottom: 0px;">

				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
				
						<button class="navbar-brand"><%= image_tag("list.png", :style => 'margin-top: -5px;') %></button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ballads <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><%= link_to 'Poems', poems_path %> </li>
									<li><%= link_to 'Songs', songs_path %> </li>
									<li><%= link_to 'Add new Ballad', new_place_path %></li>
								</ul>
							</li>

							<li><%= link_to 'Places', places_path %> </li>	
							<li><% if admin_signed_in? %>
										<%= link_to 'All Users', end_users_path %>
									<% end %> 
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Menu </strong><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<% if end_user_signed_in? %>
									<li><%= link_to image_tag("home.png", :style => 'margin-right: 100px;') + 'Home', home_path %></li>
									<li><%= link_to image_tag("about.png", :style => 'margin-right: 100px;') + 'About', about_path %></li>
									<li><%= link_to image_tag("contact.png", :style => 'margin-right: 100px;') + 'Contact us', contact_path %></li>
								<% elsif admin_signed_in? %>
									<li><%= link_to image_tag("home.png", :style => 'margin-right: 100px;') + 'Home', home_path %></li>
								<% else %>
									<li><%= link_to image_tag("home.png", :style => 'margin-right: 100px;') + 'Home', home_path %></li>
									<li><%= link_to image_tag("about.png", :style => 'margin-right: 100px;') + 'About', about_path %></li>
									<li><%= link_to image_tag("contact.png", :style => 'margin-right: 100px;') + 'Contact us', contact_path %></li>
									<li><%= link_to image_tag("admin.png", :style => 'margin-right: 100px;') + 'Admin Controls', new_admin_session_path %></li>
								<% end %>
							</ul>
							<% if end_user_signed_in? %>
								<li><%= link_to 'Logout', destroy_end_user_session_path, method: :delete %></li>
							<% elsif admin_signed_in? %>
								<li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
							<% else %>
								<li><%= link_to 'Signup', new_end_user_registration_path %></li>
								<li><%= link_to "Login", new_end_user_session_path %></li>
								<% end %>

			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <button class="navbar-brand"><%= image_tag("list.png", :style => 'margin-top: -5px;') %></button>
		    	</div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><%= link_to 'Home', home_path %> </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ballads <span class="caret"></span></a>
		          <ul class="dropdown-menu">
								 <li><%= link_to 'Poems', poems_path %> </li>
								 <li><%= link_to 'Songs', songs_path %> </li>
								 <li><%= link_to 'Add new Ballad', new_place_path %></li>
					
		          </ul>
		        </li>
		        		             <li><%= link_to 'Places', places_path %> </li>

		      </ul>

		      <ul class="nav navbar-nav navbar-right">
		      	           
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Menu </strong><span class="caret"></span></a>
		          <ul class="dropdown-menu">
						<li><%= link_to image_tag("home.png", :style => 'margin-right: 100px;') + 'Home', home_path %></li>		          		           
					    <li><%= link_to image_tag("about.png", :style => 'margin-right: 100px;') + 'About', about_path %></li>
						<li><%= link_to image_tag("contact.png", :style => 'margin-right: 100px;') + 'Contact us', contact_path %></li>
					    <% if end_user_signed_in? %>
								<li><%= link_to image_tag("edit_profile.png", :style => 'margin-right: 100px;') + 'Edit profile', edit_end_user_registration_path %></li>
							<% end %>	
							</li>
						</ul>
					</div>
				</div>
			</nav>
		
			<!-- Hides and shows the 'green menu box' -->
			<!-- Creates transparent menu box over the map -->
			<div class="wrapper">
				<!-- Adds the green box -->
				<div class="background"></div>
				<div class="main">
					<%= yield %>
				</div>
			</div>
			
			<script>
				$(document).ready(function(){
					$(".navbar-brand").click(function(){
						$("div.background, div.main").slideToggle();
					});
				});
			</script>
			
		<!-- Adds map to screen -->
		<div id="map-canvas"></div>
	</body>
</html>
