<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">

	  <title>TheBalladTrail</title>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>


	  <!-- Add styles to map -->
	  <style type="text/css">
	  	html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
		</style>
		
		<!-- Connects to Google Javascript API -->
		<script type="text/javascript"
		  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz0j_R1FllX2cnZ_lJIsgZJtMitbI6vOY">
		</script>
		
		<!-- Initializes map and creates map object -->
		<script type="text/javascript">
		  function initialize() {
		    var mapOptions = {
		      center: { lat: 57.331380, lng: -2.320982},
		      zoom: 10
		    };
		    var map = new google.maps.Map(document.getElementById('map-canvas'),
		        mapOptions);
			  }
		  google.maps.event.addDomListener(window, 'load', initialize);


		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
	  	$("button").click(function(){
	    	$("div.menu_box, div.menu_box_background").toggle();
	    });
		});
		</script>


	</head>

	<body>
		<script type='text/javascript'>

		(function()
		{
	 		if( window.localStorage )
	  {
	    if( !localStorage.getItem( 'firstLoad' ) )
	    {
	      localStorage[ 'firstLoad' ] = true;
	      window.location=window.location;
	    }  
	    else
	      localStorage.removeItem( 'firstLoad' );
	  }
		})();

		</script>
		<div class="wrapper">
			<div id="topLine"></div>

			<div class="header">

				<%= link_to 'HOME', home_path %>


				<button>Hide the green box</button>

				<%= link_to image_tag("logo.png", :style => 'margin-left: 45%; margin-top: 5px;') %>

					<nav id="topNav">
		        <ul>  
			        <li><p> MENU </p>
			        	<ul>
			            <li><%= link_to image_tag("contact.png", :style => 'margin-right: 150px;') + 'Contact us', contact_path %></li>
			            <li><%= link_to image_tag("about.png", :style => 'margin-right: 150px;') + 'About', about_path %></li>
			            <% if end_user_signed_in? %>
										Logged in as <strong><%= current_end_user.email %></strong>.
										<li><%= link_to image_tag("edit_profile.png", :style => 'margin-right: 150px;') + 'Edit profile', edit_end_user_registration_path %></li>
										<li><%= link_to image_tag("edit.png", :style => 'margin-right: 150px;') + 'Logout', destroy_end_user_session_path, method: :delete %></li>
				
									<% elsif admin_signed_in? %>
										Logged in as <strong>the Administrator</strong>
										<li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
										
										Logged in as <strong>Administrator</strong>
										<li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>

									<% else %>
										<li><%= link_to image_tag("admin.png", :style => 'margin-right: 150px;') + 'Admin Controls', new_admin_session_path %></li>
										<li><%= link_to image_tag("signup.png", :style => 'margin-right: 150px;') + 'Sign Up!', new_end_user_registration_path %></li>
										<li><%= link_to image_tag("login.png", :style => 'margin-right: 158px;') + "Login", new_end_user_session_path %></li>
									<% end %>
					      </ul>                
					    </li>
						</ul>
		    	</nav>

				  <!-- Script to menu -->

				<script>
					(function($){
					//cache nav
					var nav = $("#topNav");
					//add indicators and hovers to submenu parents
					nav.find("li").each(function() {
					if ($(this).find("ul").length > 0) {
					$("<span>").text(" ").appendTo($(this).children(":first"));

					//show subnav on hover
					$(this).mouseenter(function() {
					$(this).find("ul").stop(true, true).slideDown();
					});
					//hide submenus on exit
					$(this).mouseleave(function() {
					$(this).find("ul").stop(true, true).slideUp();
					});
					}
					});
					})(jQuery);
				</script>

			</div>
			
			<div id="links">
			  <%= link_to 'All Places', places_path %> 
				<%= link_to 'All Composers', composers_path %> 
			  <%= link_to 'All Poems', poems_path %> 
			  <%= link_to 'All Songs', songs_path %> 
			  <% if admin_signed_in? %>
					<%= link_to 'All Users', end_users_path %>
				<% end %>
			</div> 

			<div class="body">
				<!-- Adds the green box -->
				<div class="menu_box_background">	
				</div>

				<div class="menu_box">	
						<%= yield %> 
				</div>


				<% if notice %>
			  	<p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
			  	<p class="alert alert-danger"><%= alert %></p>
				<% end %>

				<!-- Adds map to screen -->
				<div id="map-canvas"></div>
			
			</div>
		</div>
		
	</body>
</html>
