<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">

	  <title>TheBalladTrail</title>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>


	  <!-- Add styles to map -->
	  <style type="text/css">
	  	html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
		</style>
		
		<!-- Connects to Google Javascript API -->
		<script type="text/javascript"
		  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz0j_R1FllX2cnZ_lJIsgZJtMitbI6vOY">
		</script>
		
		<!-- Initializes map and creates map object -->
		<script type="text/javascript">
		  function initialize() {
		    var mapOptions = {
		      center: { lat: 57.331380, lng: -2.320982},
		      zoom: 10
		    };
		    var map = new google.maps.Map(document.getElementById('map-canvas'),
		        mapOptions);
			  }
		  google.maps.event.addDomListener(window, 'load', initialize);


			function initialize() {
			  var mapOptions = {
			    zoom: 10
			  };
			  map = new google.maps.Map(document.getElementById('map-canvas'),
			      mapOptions);

			  // Try HTML5 geolocation
			  if(navigator.geolocation) {
			    navigator.geolocation.getCurrentPosition(function(position) {
			      var pos = new google.maps.LatLng(position.coords.latitude,
			                                       position.coords.longitude);

			      var infowindow = new google.maps.InfoWindow({
			        map: map,
			        position: pos,
			        content: 'Your location.'
			      });

			      map.setCenter(pos);
			    }, function() {
			      handleNoGeolocation(true);
			    });
			  } else {
			    // Browser doesn't support Geolocation
			    handleNoGeolocation(false);
			  }
			}

			function handleNoGeolocation(errorFlag) {
			  if (errorFlag) {
			    var content = 'Error: The Geolocation service failed.';
			  } else {
			    var content = 'Error: Your browser doesn\'t support geolocation.';
			  }

			  var options = {
			    map: map,
			    position: new google.maps.LatLng(60, 105),
			    content: content

			  };

			  var infowindow = new google.maps.InfoWindow(options);
			  map.setCenter(options.position);
			}

			google.maps.event.addDomListener(window, 'load', initialize);


		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
		  	$("button").click(function(){
		    	$("div.menu_box, div.menu_box_background, div.menu_box_background_upper").slideToggle();
		    });
			});
		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
			    $("#topNav, li").mouseover(function(){
			        $("#topNav, li").css("color", "green");
			    });
			    $("#topNav, li").mouseout(function(){
			        $("#topNav, li").css("color", "black");
			    });
			});
		</script>

	</head>

	<body>
		<script type='text/javascript'>

		(function()
		{
	 		if( window.localStorage )
	  {
	    if( !localStorage.getItem( 'firstLoad' ) )
	    {
	      localStorage[ 'firstLoad' ] = true;
	      window.location=window.location;
	    }  
	    else
	      localStorage.removeItem( 'firstLoad' );
	  }
		})();

		</script>
		<div class="wrapper">

			<div class="header">

				<div class="logo">
					<%= link_to image_tag("logo.png", :style => 'margin-left: 15px; margin-top: 15px;'), home_path %>
				</div>
				<div class="stripe">
   					  <button class="SeeMore">Hide</button>
					  <li><%= link_to 'All Places', places_path %> </li>
					  <li><%= link_to 'All Composers', composers_path %> </li>	
					  <li><%= link_to 'All Poems', poems_path %> </li>
					  <li><%= link_to 'All Songs', songs_path %> </li>
					  <li><% if admin_signed_in? %>
							<%= link_to 'All Users', end_users_path %>
						<% end %> </li>
			</div>


			<nav id="topNav">
		        <ul>  
			        <li> <p>MENU</p>
			        	<ul>
			            <li><%= link_to image_tag("contact.png", :style => 'margin-right: 100px;') + 'Contact us', contact_path %></li>
			            <li><%= link_to image_tag("about.png", :style => 'margin-right: 100px;') + 'About', about_path %></li>
			            <% if end_user_signed_in? %>
										Logged in as <strong><%= current_end_user.email %></strong>.
										<li><%= link_to image_tag("edit_profile.png", :style => 'margin-right: 100px;') + 'Edit profile', edit_end_user_registration_path %></li>
										<li><%= link_to image_tag("edit.png", :style => 'margin-right: 100px;') + 'Logout', destroy_end_user_session_path, method: :delete %></li>
				
									<% elsif admin_signed_in? %>
										Logged in as <strong>the Administrator</strong>
										<li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
										
										Logged in as <strong>Administrator</strong>
										<li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>

									<% else %>
										<li><%= link_to image_tag("admin.png", :style => 'margin-right: 100px;') + 'Admin Controls', new_admin_session_path %></li>
										<li><%= link_to image_tag("signup.png", :style => 'margin-right: 100px;') + 'Sign Up!', new_end_user_registration_path %></li>
										<li><%= link_to image_tag("login.png", :style => 'margin-right: 108px;') + "Login", new_end_user_session_path %></li>
									<% end %>
					      </ul>                
					    </li>
					</ul>
		    </nav>

				  <!-- Script to menu -->

				<script>
					(function($){
					//cache nav
					var nav = $("#topNav");
					//add indicators and hovers to submenu parents
					nav.find("li").each(function() {
					if ($(this).find("ul").length > 0) {
					$("<span>").text(" ").appendTo($(this).children(":first"));

					//show subnav on hover
					$(this).mouseenter(function() {
					$(this).find("ul").stop(true, true).slideDown();
					});
					//hide submenus on exit
					$(this).mouseleave(function() {
					$(this).find("ul").stop(true, true).slideUp();
					});
					}
					});
					})(jQuery);
				</script>

				<div id="share-buttons">
					    <!-- Facebook -->
				    <a href="http://www.facebook.com/" target="_blank">
				        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
				    </a>
				    
				    <!-- Google+ -->
				    <a href="https://plus.google.com/" target="_blank">
				        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
				    </a>
				</div>

			</div>

			<div class="body">
				<!-- Adds the green box -->
				<div class="menu_box_background">	
				</div>


				<div class="menu_box">	
						<%= yield %> 
				</div>


				<% if notice %>
			  	<p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
			  	<p class="alert alert-danger"><%= alert %></p>
				<% end %>

				<!-- Adds map to screen -->
				<div id="map-canvas"></div>
			
			</div>
		</div>
		
	</body>
</html>
